<p class="mt1 gray heading-font">
  <p class="f5 mt1 gray">
    piano
    <a class="mb2 link silver" href="https://www.youtube.com/channel/UCjWKYV8ElcTKEC5gmkIsjxA">youtube</a>
    <a class="mb2 link silver" href="https://www.pscp.tv/poly2d">pscp.tv</a>
  </p>
  <p class="f5 mt1 gray">
    socials
    <a class="mb2 link silver" href="https://www.twitter.com/poly2d">twitter</a>
    <a class="mb2 link silver" href="https://www.github.com/poly2d">github</a>
    <a class="mb2 link silver" href="https://www.strava.com/athletes/poly2d">strava</a>
  </p>
  <p class="f5 mt1 gray">
    personas
    <a class="mb2 link silver" href="https://www.dndbeyond.com/characters/30665357">ryugasaki</a>
    <a class="mb2 link silver" href="https://www.dndbeyond.com/characters/27490581">feljin</a>
  </p>
</p>
<br>
<hr class="dn db-l ml0-l gray w3"><br/>
