{{ define "main" }}
{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
<main class="center mv4 content-width ph3">
  {{ if eq 1 $paginator.PageNumber}}
  {{ partial "links.html" . }}
  {{ end}}
  <ul class="list pa0">
    {{ range $paginator.Pages }}
    <li class="mb2">
      <a class="f5 heading-color heading-font fw6 no-underline link" href="{{ .Permalink }}">
        {{ .Title }}
      </a>
      <p class="f6 mt1 silver">
        <time>
          <!-- number of days elapsed -->
          <!-- <b>day {{ div (sub .Date.Unix 1585008000) 86400 }}</b> / -->
          <b>{{ .Date.Format "02 Jan 2006" }}</b>
        </time>
        {{ if or .Params.tags .Params.categories }} | {{ end }}
        {{ if isset .Params "categories" }}
        categories: [ {{ range .Params.categories }}<a href='{{ "/categories/" | relLangURL }}{{ . | urlize }}' class="link silver">{{ . }}</a> {{ end }} ]
        {{ end }}
        {{ if isset .Params "tags" }}
        tags: [ {{ range .Params.tags }}<a href='{{ "/tags/" | relLangURL }}{{ . | urlize }}' class="link silver">{{ . }}</a> {{ end }} ]
        {{ end }}
      </p>
    </li>
    {{ end }}
  </ul>
</main>
{{ partial "tag_cloud.html" . }}
{{ partial "pagination.html" . }}
{{ end }}
