version: '2'

services:
    nginx:
        image: nginx:1.15-alpine
        ports:
            - "80:{{ nginx_http_port }}"
            - "443:{{ nginx_https_port }}"
        volumes:
            - {{ path_nginx_conf }}
            - {{ path_cert }}
            - {{ path_certbot }}
        # Make nginx reload its configuration and certificates every six hours in the background
        # Launch nginx in the foreground
        command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"

    certbot:
        image: certbot/certbot
        volumes:
            - {{ path_cert }}
            - {{ path_certbot }}
        # Verify that certificate is up for renewal every 12 hours
        entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"

    remark:
        build: .
        image: umputun/remark42:latest
        container_name: "{{ remark_container }}"
        hostname: "{{ remark_container }}"
        restart: always

        logging:
            driver: json-file
            options:
                max-size: "10m"
                max-file: "5"

        environment:
            - REMARK_URL=https://{{ server_url }}
            - SITE={{ remark_site }}
            - SECRET={{ remark_secret }}
            - ADMIN_SHARED_ID={{ admin_shared_id }}
            - AUTH_GITHUB_CID={{ auth_github_cid }}
            - AUTH_GITHUB_CSEC={{ auth_github_csec }}
            - AUTH_ANON={{ auth_anon }}
            - TIME_ZONE={{ timezone }}

        volumes:
            - {{ path_remark_db }}
